<div class="d-flex justify-content-center">
  <div class="card w-100">
    <div class="card-body">
      <p class="card-text"><%= book.description %></p>
      <span class="card-subtitle mb-2 text-muted"><%= book.authors %></span>
    </div>
  </div>
</div>
